.container{
    margin: 20px;  
    display: flex;
    justify-content: space-between;
    align-items: center;                 
}

.description{
    text-align: center; 
    font-size: 24px;
    margin: 50px auto; 
    
}
.description h1,.description h2{
    color: #3DB2C4;
    padding-bottom: 20px;
    font-weight: 900;
}
.background img{
    width: 500px;
    height: 400px;   
} 

.process{
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    background-color: rgb(221, 221, 221);
    padding: 20px;
    height: 300px;
    font-size: 24px;
    
}

.client h1, .tester h1, .description h1{
    text-align: center;
    padding-bottom: 20px;

}


