body{
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}
main{
    height: 100vh;
}
.tester{
    width: 25%;
    margin:  50px auto;
    background: #3DB2C4;
    border-radius: 20px;
    padding: 30px 40px;
}
.form-control{
    margin-left:20px;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
    font-size: 25px;


}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 25px;
}
.form-control input{
    position: relative;
    left: 20px;
    line-height: 2.5;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 20px;
    display: block;
    font-size: 16px;
    font-weight: bolder;
    padding: opx 10px;
}
.form-control select{
    position: relative;
    left: 20px;
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 20px;
    background: white;
}
.form-control button{
    margin: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    background: white;
    font-weight: bolder;
}
input {


    
}