main{
    display: flex;
    width: 100%;
    height: 100vh;
}
.about{
    width: 50%;
    display: flex;
}
.work{
    width: 70%;
    background: #F2F3F7;
    position: absolute;
    box-sizing: border-box;
    
}
.tester-img img{
    position: absolute;
    width: 180px;
    height: 190px;
    left: 20px;
    top: 150px;
    border-radius: 95.5px;
}
.name{
    position: absolute;
    width: 320px;
    height: 139px;
    left: 267px;
    top: 189px;
    line-height: 2;
    font-size: 24px;
    font-weight: normal;
}
.bio{
    position: absolute;
    width: 30%;
    left: 23px;
    top: 446px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
}
.graph{
    width:100%;
    background-color: #F2F3F7;
}
.graph img{
    position: absolute;
    width: 1350px;
    height: 600px;
    left: 570px;
    top: 55px;
    bottom: 100xp;
}
.orders{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    width: 92%;
    height: 450px;
    left: 657px;
    top: 450px;
    padding: 50px;
    background: #F2F3F7;
    border-radius: 2%;
}