.head{
    text-align: center;
    padding: 10px;
    margin-right: 25em;
    margin-left: 25em;
    background-color: whitesmoke;
    margin-top: 105px;
}

p{
    font-size: x-large;
}

#titlee{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.storyone{
    display: flex;
    justify-content: space-evenly;
}

#history{
    padding-bottom: 50px;
    padding-right: 0;
    text-align: center;
    background-color: #9ae8e8;
    width: 400px;
}

#commitment{
    padding-bottom: 50px;
    padding-right: 0;
    text-align: center;
    background-color: #9ae8e8;
    width: 400px;
}

#ourwork{
    padding-bottom: 50px;
    padding-right: 0;
    text-align: center;
    background-color: #9ae8e8;
    width: 400px;
}

#careers{
    text-align: center;
    margin: 50px 200px 0 155px;
    padding: 10px;
    background-color: whitesmoke;
}

